<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target=" _blank" href= "https://github.com/CO-Bluecoat/">Ian Anderson</a>. A truck driver looking to finally pursue something worthwhile in life. 
</p>

<br />

<p>
    This bootcamp was the perfect oppertunity to do just that, and he has been thouroughly enjoying the class so far!

</p>

<p>
   If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>


 
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ian.jpg.jpg', class: 'img-fluid' %>
    </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Ian Anderson</h2>
      <br />
      <p>
        Ian Anderson is currently a truck driver at FedEx Freight. He does all in city freight delivery all over denver, and even ran mountain routes like Estes Park, Conifer, and 
        Evergreen. 
  </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">

      <br class="clear" />

      <br />

      <br />

      <br />
      
      <br />